doctype html
html(lang='ru')
  head

    meta(charset='utf-8')
    // <base href="/">

    title OptimizedHTML 4.1
    meta(name='description', content='')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // Template Basic Images Start
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='icon', href='img/favicon/favicon.ico')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon-180x180.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    // Any Color Address Bar And Notification Line
    meta(name='theme-color', content='#000')
    // Custom Browsers Color End

    link(rel='stylesheet', href='css/main.min.css')

  body

    // Custom HTML
    .cont-wrap
      .col-left.float-left.p-0 
        .cont-left-wrap
          header
            .container.h-100
              .row.h-100.align-items-center
                .col.col-lg-12
                  span.logo Plotnik
                .col.col-lg-12
                  h1 Name of the webinar goes here
                    br 
                    | and it could be very long
                  hr  
          section   
            .container.h-100 
              .row.h-100.align-items-center
                article 
                  .col.col-lg-12
                    h2 This event will start soon
                  .container.mt-3
                    .row
                      .col-3 
                        span 1
                        span 5
                      .col-3 
                        span 2
                        span 0
                      .col-3 
                        span 5
                        span 7
                      .col-3
                        span 4
                        span 4
                article
                  .container
                    .row
                      .col.col-lg-12
                        span Friday, 15 April 2017, at 4:00 pm  
                        span Mountain Time (US & Canada) GMT-7
                article
                  .container
                    .row
                      .col-6 
                        span Charles Samson
                        span Director of Marketing
                      .col-6
                        span Antony Alleyne
                        span Marketing Manager
          footer pro
          
      .col-right.float-right.p-0
        
        
    script(src='js/scripts.min.js')